@import url('https://fonts.googleapis.com/css?family=Poppins|Oleo+Script+Swash+Caps');
* {
  margin: 0;
  padding: 0;
}
html, body {
  background: #fdfdfd;
  font-family: 'Poppins', sans-serif;
}
::-webkit-scrollbar {
  height: 0;
  width: 6px; 
}
::-webkit-scrollbar-track {
  background: #21232b;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #2bd0c0;
}
::selection {
  background: #2bd0c0;
  color: #21232b;
}

/* ==========================
====>   Topbar Style
========================= */
.TopbarStyle {
  background: #21232b;
  -webkit-box-shadow: 0 5px 10px 0 rgba(33,35,43,0.16);
  -moz-box-shadow: 0 5px 10px 0 rgba(33,35,43,0.16);
  -ms-box-shadow: 0 5px 10px 0 rgba(33,35,43,0.16);
  -o-box-shadow: 0 5px 10px 0 rgba(33,35,43,0.16);
  box-shadow: 0 5px 10px 0 rgba(33,35,43,0.16);
  height: auto;
  padding: 13px 13px 13px 13px;
  z-index: 8;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  .logo {
    color: #fff;
    font-size: 35px;
    font-family: 'Oleo Script Swash Caps', cursive;
    text-decoration: none;
  }
  .right {
    float: right;
    padding: 10px 0 10px 0;
    .ico {
      cursor: pointer;
      color: #fff;
      margin: 0 13px 0 13px;
      font-size: 18px;
      text-decoration: none;
      vertical-align: middle;
      transition: all 250ms ease-in-out;
      &:hover {
        color: #2bd0c0;
      }
    }
  }
  @media screen and (min-width: 300px) and (max-width: 600px){
    padding: 13px 5px 13px 5px;
  }
}

/* ==========================
====>   Menu Style
========================= */
.MenuStyle {
  background: rgba(33,35,43,0.8);
  height: 100vh;
  width: 100%;
  z-index: 7;
  position: fixed;
  top: auto;
  right: 0;
  .nav {
    background: linear-gradient(179deg, #2c2f39 2%, #363944 14%, #32353d 100%);
    height: 100%;
    width: 300px;
    overflow: auto;
    z-index: 7;
    position: fixed;
    top: auto;
    right: 0;
    a {
      display: block;
      color: #fff;
      padding: 20px 10px 20px 10px;
      font-size: 20px;
      text-decoration: none;
      transition: all 250ms ease-in-out;
      &:last-child {
        margin: 0 0 75px 0;
      }
      &:hover {
        border-left: 5px solid #2bd0c0;
        background: #21232b;
      }
    }
  }
  @media screen and (min-width: 300px) and (max-width: 600px){
    .nav {
      width: 100%;
    }
  }
}

/* ==========================
====>   Banner Style
========================= */
.BannerStyle {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: auto;
  ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(hsla(0,0%,99%,.9), hsla(0,0%,99%,.9) 50%, #fdfdfd);
    height: 250px;
    width: 100%;
    h1 {
      color: #21232b;
      margin: 0 0 0 30px;
      font-size: 45px;
    }
  }
  @media screen and (min-width: 300px) and (max-width: 600px){
    ul {
      height: 150px;
      text-align: center;
      h1 {
        margin: 0 0 0 0;
        font-size: 35px;
      }
    }
  }
  @media screen and (min-width: 600px) and (max-width: 812px){
    ul {
      height: 200px;
    }
  }
}

/* ==========================
====>   Page Wrapper Style
========================= */
.PageWrapper {
  height: auto;
  width: auto;
  margin: 0 180px 0 180px;
  @media (max-width: 991px){
    margin: 0 10px 0 10px;
  }
  @media (width: 1024px){
    margin: 0 20px 0 20px;
  }
  @media (width: 1080px){
    margin: 0 40px 0 40px;
  }
  @media (width: 1112px){
    margin: 0 60px 0 60px;
  }
  @media (width: 1280px){
    margin: 0 140px 0 140px;
  }
  @media (width: 1336px){
    margin: 0 170px 0 170px;
  }
  @media (min-width: 1440px){
    margin: 0 220px 0 220px;
  }
  @media (min-width: 1600px){
    margin: 0 350px 0 350px;
  }
  @media (min-width: 1920px){
    margin: 0 520px 0 520px;
  }
  @media (min-width: 2100px){
    margin: 0 860px 0 860px;
  }
  @media (min-width: 3840px){
    margin: 0 1760px 0 1760px;
  }
}

/* ==========================
====>   Sidebar Style
========================= */
.SidebarStyle {
  float: right;
  height: auto;
  width: 280px;
  text-align: left;
  position: sticky;
  top: 80px;
  h1 {
    border-bottom: 4px solid #2bd0c0;
    margin: 0 0 15px 0;
    padding: 5px 5px 5px 5px;
    color: #21232b;
    font-size: 28px;
    text-align: left;
    &::before {
      content: '';
      background: #2bd0c0;
      height: 4px;
      width: 35px;
      transform: rotate(-125deg);
      transform-origin: top right;
      position: absolute;
      top: 54px;
      right: 4px;
    }
  }
  iframe {
    border: none;
    border-radius: 3px;
    height: auto;
    width: 100%;
    margin: 0 0 5px 0;
  }
  .newsLetter {
    border-radius: 3px;
    background: linear-gradient(312deg, #14134e 0%, #512d5a 68%, #843b61 100%);
    height: auto;
    width: auto;
    margin: 0 0 10px 0;
    padding: 10px 10px 10px 10px;
    text-align: center;
    p {
      color: #fff;
      font-size: 18px;
      text-align: left;
      &:first-child {
        margin: 0 0 10px 0;
        font-size: 20px;
      }
    }
    .input {
      outline: none;
      border: none;
      border-radius: 50px;
      background: #fff;
      -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
      -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
      -ms-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
      -o-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
      box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
      color: #21232b;
      height: 20px;
      width: 90%;
      margin: 10px 0 0 0;
      padding: 10px 10px 10px 10px;
      font-size: 16px;
      transition: all 250ms ease-in-out;
      &:focus::-webkit-input-placeholder {
        color: transparent;
      }
      &:focus:-moz-placeholder {
        color: transparent;
      }
      &:focus:-ms-input-placeholder {
        color: transparent;
      }
      &:focus::-o-placeholder {
        color: transparent;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }
  }
  h2 {
    border-top: 4px solid #2bd0c0;
    border-radius: 3px;
    background: #21232b;
    margin: 0 0 10px 0;
    padding: 5px 5px 5px 5px;
    color: #fff;
    font-size: 30px;
    text-align: left;
  }
  .ico {
    cursor: pointer;
    color: #21232b;
    margin: 0 25px 0 0;
    font-size: 20px;
    text-decoration: none;
    vertical-align: middle;
    transition: all 250ms ease-in-out;
    &:hover {
      color: #2bd0c0;
    }
  }
  @media (max-width: 991px){
    display: none;
  }
}

/* ==========================
====>   Card Style
========================= */
.CardStyle {
  display: inline-block;
  height: auto;
  width: 700px;
  margin: 15px 0 0 0;
  a {
    color: #21232b;
    text-decoration: none;
    transition: all 250ms ease-in-out;
    &:hover {
      .dis {
        h1 {
          color: #2bd0c0 !important;
        }
      }
    }
    &:nth-child(5n+0) {
      &:hover {
        .dis {
          h1 {
            color: #2bd0c0 !important;
          }
        }
      }
      .cardImage {
        float: none !important;
        height: 150px !important;
        width: 100% !important;
        margin: 0 0 0 0 !important;
        animation: none;
      }
      .dis {
        h1 {
          border-bottom-left-radius: 3px;
          background: rgba(33,35,43,0.8);
          color: #fff !important;
          margin: -52px 0 0 0;
          padding: 5px 10px 5px 10px;
          z-index: 2;
          position: absolute;
          top: auto;
          &:hover {
            color: #2bd0c0 !important;
          }
        }
        p {
          display: none !important;
        }
      }
    }
    .card {
      display: block;
      height: auto;
      width: 100%;
      margin: 0 0 10px 0;
      overflow: hidden;
      .cardImage {
        float: left;
        border-radius: 3px;
        height: 126px;
        width: 224px;
        margin: 0 10px 0 0;
      }
      .dis {
        height: 100%;
        h1 {
          color: #21232b;
          font-size: 28px;
        }
        p {
          color: #21232b;
          font-size: 16px;
        }
      }
    }
  }
  @media screen and (min-width: 300px) and (max-width: 600px){
    a {
      &:nth-child(5n+0) {
        .cardImage {
          float: none !important;
          border-radius: 0 !important;
          height: auto !important;
          width: 100% !important;
          margin: 0 0 0 0 !important;
        }
        .dis {
          h1 {
            background: transparent !important;
            color: #21232b !important;
            margin: 0 0 0 0 !important;
            padding: 0 0 0 0 !important;
            z-index: 0 !important;
            position: relative !important;
          }
          p {
            display: block !important;
          }
        }
      }
      .card {
        border: 1px solid #e5e5e5;
        border-radius: 3px;
        background: #fff;
        -webkit-box-shadow: 0 5px 10px 0 rgba(33,35,43,0.16);
        -moz-box-shadow: 0 5px 10px 0 rgba(33,35,43,0.16);
        -ms-box-shadow: 0 5px 10px 0 rgba(33,35,43,0.16);
        -o-box-shadow: 0 5px 10px 0 rgba(33,35,43,0.16);
        box-shadow: 0 5px 10px 0 rgba(33,35,43,0.16);
        .cardImage {
          float: none;
          border-radius: 0;
          height: auto;
          width: 100%;
          margin: 0 0 0 0;
          animation: none;
        }
        .dis {
          padding: 5px 5px 5px 5px;
        }
      }
    }
  }
  @media (max-width: 991px){
    width: 100%;
    margin: 0 0 0 0;
  }
}

/* ==========================
====>   Blog Style
========================= */
.BlogStyle {
  height: auto;
  .wrapper {
    height: auto;
    margin: 20px 250px 0 250px;
    padding: 0 10px 0 10px;
    position: relative;
    .titleBar {
      height: auto;
      margin: 0 0 20px 0;
      p {
        border-bottom: 2px solid #e5e5e5;
        color: #21232b;
        font-size: 38px;
        font-weight: bold;
      }
    }
    .gatsby-resp-image-wrapper, .gatsby-resp-iframe-wrapper {
      margin: 10px 0 10px 0;
      transition: all 250ms ease-in-out;
      &:hover {
        -webkit-box-shadow: 0 5px 25px 0 rgba(33,35,43,0.16);
        -moz-box-shadow: 0 5px 25px 0 rgba(33,35,43,0.16);
        -ms-box-shadow: 0 5px 25px 0 rgba(33,35,43,0.16);
        -o-box-shadow: 0 5px 25px 0 rgba(33,35,43,0.16);
        box-shadow: 0 5px 25px 0 rgba(33,35,43,0.16);
      }
    }
    .gatsby-resp-image-image, iframe {
      border-radius: 3px;
    }
    h1, h2, h3, h4, h5, h6 {
      color: #21232b;
      margin: 10px 0 10px 0;
      font-size: 33px;
    }
    p {
      color: #21232b;
      margin: 10px 0 10px 0;
      font-size: 18px;
    }
    li {
      color: #21232b;
      margin: 10px 0 10px 30px;
      font-size: 18px;
    }
    pre {
      border-left: 5px solid #2bd0c0;
      background: linear-gradient(179deg, #2c2f39 2%, #363944 14%, #32353d 100%);
      margin: 10px 0 10px 0;
      padding: 5px 5px 5px 5px;
      overflow: auto;
    }
    blockquote, q {
      border-left: 5px solid #2bd0c0;
      background: #e5e5e5;
      margin: 10px 0 10px 0;
      padding: 5px 5px 5px 5px;
      overflow: auto;
    }
    pre code {
      color: #fff;
      margin: 0 0 0 0;
      font-size: 18px;
    }
    blockquote p, q p {
      color: #5d6977;
      margin: 0 0 0 0;
      font-size: 18px;
    }
    .shareBar {
      border-top: 2px solid #e5e5e5;
      height: auto;
      margin: 20px 0 0 0;
      padding: 10px 0 10px 0;
      .shareBtn {
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 3px;
        color: #fff;
        margin: 0 15px 0 0;
        padding: 8px 8px 8px 8px;
        font-size: 18px;
        font-weight: bold;
        transition: all 250ms ease-in-out;
        .ico {
          color: #fff;
          font-size: 20px;
          position: relative;
          top: 3px;
        }
      }
      .fb {
        background: #3b5998 !important;
        &:hover {
          -webkit-box-shadow: 0 5px 25px 0 rgba(59,89,152,0.8);
          -moz-box-shadow: 0 5px 25px 0 rgba(59,89,152,0.8);
          -ms-box-shadow: 0 5px 25px 0 rgba(59,89,152,0.8);
          -o-box-shadow: 0 5px 25px 0 rgba(59,89,152,0.8);
          box-shadow: 0 5px 25px 0 rgba(59,89,152,0.8);
        }
      }
      .twitter {
        background: #1da1f2 !important;
        &:hover {
          -webkit-box-shadow: 0 5px 25px 0 rgba(29,161,242,0.8);
          -moz-box-shadow: 0 5px 25px 0 rgba(29,161,242,0.8);
          -ms-box-shadow: 0 5px 25px 0 rgba(29,161,242,0.8);
          -o-box-shadow: 0 5px 25px 0 rgba(29,161,242,0.8);
          box-shadow: 0 5px 25px 0 rgba(29,161,242,0.8);
        }
      }
      .dealBtn {
        cursor: pointer;
        float: right;
        outline: none;
        border: none;
        border-radius: 3px;
        background: #2bd0c0;
        color: #fff;
        padding: 9px 8px 9px 8px;
        font-size: 18px;
        font-weight: bold;
        transition: all 250ms ease-in-out;
        &:hover {
          -webkit-box-shadow: 0 5px 25px 0 rgba(43,208,192,0.8);
          -moz-box-shadow: 0 5px 25px 0 rgba(43,208,192,0.8);
          -ms-box-shadow: 0 5px 25px 0 rgba(43,208,192,0.8);
          -o-box-shadow: 0 5px 25px 0 rgba(43,208,192,0.8);
          box-shadow: 0 5px 25px 0 rgba(43,208,192,0.8);
        }
      }
    }
  }
  @media screen and (min-width: 300px) and (max-width: 600px){
    .wrapper {
      margin: 10px 0 0 0 !important;
    }
    .shareBtn, .dealBtn {
      float: none !important;
      margin: 0 15px 5px 0 !important;
    }
  }
  @media screen and (min-width: 600px) and (max-width: 812px){
    .wrapper {
      margin: 10px 20px 0 20px !important;
    }
  }
  @media (max-width: 991px){
    .wrapper {
      margin: 20px 15px 0 15px;
    }
  }
  @media (width: 1024px){
    .wrapper {
      margin: 20px 100px 0 100px;
    }
  }
  @media (width: 1280px){
    .wrapper {
      margin: 20px 230px 0 230px;
    }
  }
  @media (min-width: 1440px){
    .wrapper {
      margin: 20px 300px 0 300px;
    }
  }
  @media (min-width: 1600px){
    .wrapper {
      margin: 20px 400px 0 400px;
    }
  }
  @media (min-width: 1920px){
    .wrapper {
      margin: 20px 500px 0 500px;
    }
  }
  @media (min-width: 2100px){
    .wrapper {
      margin: 20px 900px 0 900px;
    }
  }
  @media (min-width: 3840px){
    .wrapper {
      margin: 20px 1760px 0 1760px;
    }
  }
}

/* ==========================
====>   Search Page Style
========================= */
.SearchStyle {
  height: auto;
  .banner {
    background-image: url('https://source.unsplash.com/yeB9jDmHm6M');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: linear-gradient(hsla(0,0%,99%,.9), hsla(0,0%,99%,.9) 50%, #fdfdfd);
      height: 250px;
      width: 100%;
      text-align: center;
      .search {
        outline: none;
        border: none;
        border-radius: 6px;
        border: 1px solid #e5e5e5;
        background: #fff;
        -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
        -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
        -ms-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
        -o-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
        box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
        color: #21232b;
        height: 40px;
        width: 90%;
        padding: 10px 10px 10px 10px;
        font-size: 16px;
        transition: all 250ms ease-in-out;
        &:focus::-webkit-input-placeholder {
          color: transparent;
        }
        &:focus:-moz-placeholder {
          color: transparent;
        }
        &:focus:-ms-input-placeholder {
          color: transparent;
        }
        &:focus::-o-placeholder {
          color: transparent;
        }
        &:focus::placeholder {
          color: transparent;
        }
      }
    }
  }
  @media screen and (min-width: 300px) and (max-width: 600px){
    .banner {
      ul {
        height: 150px;
      }
    }
  }
  @media screen and (min-width: 600px) and (max-width: 812px){
    .banner {
      ul {
        height: 200px;
      }
    }
  }
}

/* ==========================
====>   About Page Style
========================= */
.AboutStyle {
  height: auto;
  .wrapper {
    height: auto;
    margin: 20px 250px 0 250px;
    padding: 0 10px 0 10px;
    position: relative;
    img {
      cursor: pointer;
      border-radius: 3px;
      width: 100%;
      transition: all 250ms ease-in-out;
      &:hover {
        -webkit-box-shadow: 0 5px 25px 0 rgba(33,35,43,0.16);
        -moz-box-shadow: 0 5px 25px 0 rgba(33,35,43,0.16);
        -ms-box-shadow: 0 5px 25px 0 rgba(33,35,43,0.16);
        -o-box-shadow: 0 5px 25px 0 rgba(33,35,43,0.16);
        box-shadow: 0 5px 25px 0 rgba(33,35,43,0.16);
      }
    }
    h1 {
      color: #21232b;
      margin: 10px 0 10px 0;
      font-size: 33px;
    }
    p {
      color: #21232b;
      margin: 10px 0 10px 0;
      font-size: 18px;
    }
  }
  @media screen and (min-width: 300px) and (max-width: 600px){
    .wrapper {
      margin: 10px 0 0 0 !important;
    }
  }
  @media screen and (min-width: 600px) and (max-width: 812px){
    .wrapper {
      margin: 10px 20px 0 20px !important;
    }
  }
  @media (max-width: 991px){
    .wrapper {
      margin: 20px 15px 0 15px;
    }
  }
  @media (width: 1024px){
    .wrapper {
      margin: 20px 100px 0 100px;
    }
  }
  @media (width: 1280px){
    .wrapper {
      margin: 20px 230px 0 230px;
    }
  }
  @media (min-width: 1440px){
    .wrapper {
      margin: 20px 300px 0 300px;
    }
  }
  @media (min-width: 1600px){
    .wrapper {
      margin: 20px 400px 0 400px;
    }
  }
  @media (min-width: 1920px){
    .wrapper {
      margin: 20px 500px 0 500px;
    }
  }
  @media (min-width: 2100px){
    .wrapper {
      margin: 20px 900px 0 900px;
    }
  }
  @media (min-width: 3840px){
    .wrapper {
      margin: 20px 1760px 0 1760px;
    }
  }
}

/* ==========================
====>   Terms Page Style
========================= */
.TermsStyle {
  height: auto;
  .wrapper {
    height: auto;
    margin: 20px 250px 0 250px;
    padding: 0 10px 0 10px;
    position: relative;
    h1 {
      color: #21232b;
      margin: 10px 0 10px 0;
      font-size: 33px;
    }
    p {
      color: #21232b;
      margin: 10px 0 10px 0;
      font-size: 18px;
    }
  }
  @media screen and (min-width: 300px) and (max-width: 600px){
    .wrapper {
      margin: 10px 0 0 0 !important;
    }
  }
  @media screen and (min-width: 600px) and (max-width: 812px){
    .wrapper {
      margin: 10px 20px 0 20px !important;
    }
  }
  @media (max-width: 991px){
    .wrapper {
      margin: 20px 15px 0 15px;
    }
  }
  @media (width: 1024px){
    .wrapper {
      margin: 20px 100px 0 100px;
    }
  }
  @media (width: 1280px){
    .wrapper {
      margin: 20px 230px 0 230px;
    }
  }
  @media (min-width: 1440px){
    .wrapper {
      margin: 20px 300px 0 300px;
    }
  }
  @media (min-width: 1600px){
    .wrapper {
      margin: 20px 400px 0 400px;
    }
  }
  @media (min-width: 1920px){
    .wrapper {
      margin: 20px 500px 0 500px;
    }
  }
  @media (min-width: 2100px){
    .wrapper {
      margin: 20px 900px 0 900px;
    }
  }
  @media (min-width: 3840px){
    .wrapper {
      margin: 20px 1760px 0 1760px;
    }
  }
}

/* ==========================
====>   Contact Page Style
========================= */
.ContactStyle {
  height: auto;
  .wrapper {
    height: auto;
    margin: 20px 250px 0 250px;
    padding: 0 10px 0 10px;
    position: relative;
    h1 {
      color: #21232b;
      margin: 10px 0 10px 0;
      font-size: 33px;
    }
    .input {
      outline: none;
      border: none;
      border-radius: 6px;
      border: 1px solid #e5e5e5;
      background: #fff;
      -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
      -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
      -ms-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
      -o-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
      box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
      color: #21232b;
      height: 40px;
      width: 90%;
      margin: 0 0 10px 0;
      padding: 10px 10px 10px 10px;
      font-size: 16px;
      transition: all 250ms ease-in-out;
      &:focus::-webkit-input-placeholder {
        color: transparent;
      }
      &:focus:-moz-placeholder {
        color: transparent;
      }
      &:focus:-ms-input-placeholder {
        color: transparent;
      }
      &:focus::-o-placeholder {
        color: transparent;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }
    .textarea {
      outline: none;
      resize: none;
      border: none;
      border-radius: 6px;
      border: 1px solid #e5e5e5;
      background: #fff;
      -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
      -moz-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
      -ms-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
      -o-box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
      box-shadow: 0 5px 10px 0 rgba(0,0,0,0.16);
      color: #21232b;
      height: 200px;
      width: 90%;
      margin: 0 0 10px 0;
      padding: 10px 10px 10px 10px;
      font-size: 16px;
      transition: all 250ms ease-in-out;
      &:focus::-webkit-input-placeholder {
        color: transparent;
      }
      &:focus:-moz-placeholder {
        color: transparent;
      }
      &:focus:-ms-input-placeholder {
        color: transparent;
      }
      &:focus::-o-placeholder {
        color: transparent;
      }
      &:focus::placeholder {
        color: transparent;
      }
    }
    .btn {
      cursor: pointer;
      outline: none;
      border: none;
      border-radius: 3px;
      background: #2bd0c0;
      color: #fff;
      padding: 10px 20px 10px 20px;
      font-size: 18px;
      font-weight: bold;
      transition: all 250ms ease-in-out;
      &:hover {
        -webkit-box-shadow: 0 5px 25px 0 rgba(43,208,192,0.8);
        -moz-box-shadow: 0 5px 25px 0 rgba(43,208,192,0.8);
        -ms-box-shadow: 0 5px 25px 0 rgba(43,208,192,0.8);
        -o-box-shadow: 0 5px 25px 0 rgba(43,208,192,0.8);
        box-shadow: 0 5px 25px 0 rgba(43,208,192,0.8);
      }
    }
  }
  @media screen and (min-width: 300px) and (max-width: 600px){
    .wrapper {
      margin: 10px 0 0 0 !important;
    }
  }
  @media screen and (min-width: 600px) and (max-width: 812px){
    .wrapper {
      margin: 10px 20px 0 20px !important;
    }
  }
  @media (max-width: 991px){
    .wrapper {
      margin: 20px 15px 0 15px;
    }
  }
  @media (width: 1024px){
    .wrapper {
      margin: 20px 100px 0 100px;
    }
  }
  @media (width: 1280px){
    .wrapper {
      margin: 20px 230px 0 230px;
    }
  }
  @media (min-width: 1440px){
    .wrapper {
      margin: 20px 300px 0 300px;
    }
  }
  @media (min-width: 1600px){
    .wrapper {
      margin: 20px 400px 0 400px;
    }
  }
  @media (min-width: 1920px){
    .wrapper {
      margin: 20px 500px 0 500px;
    }
  }
  @media (min-width: 2100px){
    .wrapper {
      margin: 20px 900px 0 900px;
    }
  }
  @media (min-width: 3840px){
    .wrapper {
      margin: 20px 1760px 0 1760px;
    }
  }
}

/* ==========================
====>   404 Page Style
========================= */
.ErrStyle {
  height: auto;
  .banner {
    background-image: url('https://source.unsplash.com/Iy3OdKaszJs');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: auto;
    ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: linear-gradient(hsla(0,0%,99%,.9), hsla(0,0%,99%,.9) 50%, #fdfdfd);
      height: 250px;
      width: 100%;
      text-align: center;
      h1 {
        color: #21232b;
        margin: 0 0 -20px 0;
        font-size: 100px;
      }
      p {
        color: #21232b;
        width: 40%;
        font-size: 18px;
      }
    }
  }
  @media (max-width: 991px){
    .banner {
      ul {
        height: 200px;
        p {
          width: auto;
        }
      }
    }
  }
}

/* ==========================
====>   Footer Style
========================= */
.FooterStyle {
  background: #21232b;
  height: auto;
  margin: 50px 0 0 0;
  text-align: left;
  h1 {
    background: linear-gradient(179deg, #2c2f39 2%, #363944 14%, #32353d 100%);
    color: #fff;
    margin: 0 0 10px 0;
    padding: 10px 10px 10px 10px;
    font-size: 30px;
    font-weight: 100;
    font-family: 'Oleo Script Swash Caps', cursive;
    text-align: left;
  }
  .section {
    display: inline-block;
    clear: left;
    height: auto;
    width: auto;
    padding: 0 15px 0 15px;
    text-align: left;
    a {
      display: block;
      color: #fff;
      padding: 10px 5px 10px 5px;
      font-size: 20px;
      text-decoration: none;
      &:after {
        content: '';
        display: block;
        width: 40%;
        border-bottom: 3px solid #2bd0c0;  
        transform: scaleX(0);
        transition: transform 250ms ease-in-out;
      }
      &:hover:after {
        transform: scaleX(1);
        transform-origin: 0% 50%;
      }
    }
  }
  .right {
    float: right;
    height: auto;
    padding: 0 15px 0 15px;
    text-align: left;
    p {
      color: #fff;
      margin: 0 0 10px 0;
      font-size: 20px;
    }
    a {
      display: inline-block;
      padding: 0 0 0 0;
    }
    .ico {
      cursor: pointer;
      color: #fff;
      margin: 0 20px 0 0;
      font-size: 18px;
      text-decoration: none;
      vertical-align: middle;
      transition: all 250ms ease-in-out;
      &:hover {
        color: #2bd0c0;
      }
    }
  }
  .copy {
    height: auto;
    padding: 20px 10px 10px 10px;
    text-align: center;
    p {
      color: #fff;
      font-size: 16px;
    }
  }
  @media screen and (min-width: 300px) and (max-width: 600px){
    h1 {
      text-align: center;
    }
    .section {
      width: auto;
      margin: 0 0 10px 0;
      padding: 0 10px 0 10px;
    }
    .right {
      float: none;
      padding: 0 10px 0 10px;
      text-align: center;
      .ico {
        margin: 0 15px 0 15px;
      }
    }
  }
}